﻿@model MvcMovie.Models.Calculator
@{
    ViewBag.Title = "Calculator";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>My Calculator</h2>
    <div class="row">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label for="FirstNumber">First Number</label>
                <input type="text" name="firstNumber" id="firstNumber" value="@Model.FirstNumber" />
            </div>

            <div class="form-group">
                <label for="SecoondNumber">Second Number</label>
                <input type="text" name="secondNumber" id="secondNumber" value="@Model.SecondNumber" />
            </div>

            <div class="form-group">
                <label for="Result">Result</label>
                <input type="text" name="result" id="result" value="@Model.Result" />
            </div>

            @Html.DropDownList("operations", new SelectList(new string[] { "+", "-", "*", "/" }))

            <button type="submit">Calculate</button>
        }
    </div>
</body>
</html>